{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Mobilebus - 修改密码{% endblock %}

{% block page_content %}
<div class="col-md-5" id="smallfont">
    <div class="page-header">
        <h1>修改密码</h1>
    </div>
    <form action method="post" class="form" role="form" >
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-xs-6">
                {{ wtf.form_field(form.mailaddr) }}
            </div>
            <label class="col-xs-6 control-label">&nbsp</label>
            <label class="col-xs-6 control-label" style="position:relative; padding-left:0; font-family: Helvetica Neue Helvetica,Arial,sans-serif;">@honeywell.com</label>
        </div>
        <div class="col-xs-12">
            {{ wtf.form_field(form.password) }}
        </div>
        <div class="col-xs-12">
            {{ wtf.form_field(form.password2) }}
        </div>

        <div class="col-xs-12">
            {{ wtf.form_field(form.submit, button_map={'submit': 'block btn-primary' }) }}
        </div>
        
    </form>
</div>
{% endblock %}