<div id="smallfont" class="container">
    <div class="spinner" ng-show="loadctrl.submit">
        <div class="loader" ></div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon search-icon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span>
                    <input type="text" class="form-control search-input" placeholder="例：大宁线，7……"
                           ng-model="searchitem" uib-typeahead="bus.srchstring for bus in searchbus | filter:$viewValue | limitTo:8"
                           typeahead-on-select="selsearch($item, $model, $label)">
                </div>
            </div>
        </div>
    </div>
	
	<div class="btn-group btn-group-justified">
		<label class="btn btn-info btn-custom radioBtnActive" ng-model="campusradio" 
			uib-btn-radio="'libingroad'">李冰路</label>
		<label class="btn btn-info btn-custom radioBtnActive" ng-model="campusradio" 
			uib-btn-radio="'huankeroad'" >环科路</label>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="tab-content">
				<table class="table">
					<tbody>
						<tr id="smallfont"
							ng-repeat="bus in allbus track by $index | orderBy: bus.number"
							ng-click="onselect(bus.id)" 
							ng-init="hover=false" ng-class="{active: hover}"
							ng-mouseenter="hover=true" ng-mouseleave="hover=false">
							<th style="width:5%">
								<div class="label label-as-badge round-custom">
									<span>{a bus.number a}</span>
								</div>
							</th>
							<th style="width:90%; vertical-align: middle">{a bus.name a}</td>
                            <th align="right" style="width:5%; vertical-align: middle">
                                <i class="glyphicon glyphicon-menu-right" color="#707070"></i>
                            </th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>
