<div id="smallfont" class="container">
    <script type="text/ng-template" id="group-template.html">
        <div>
            <div class="panel-heading" style="padding: 0px 0px;">
                <h4 class="panel-title">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        {{heading}}
                    </span>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body"  ng-transclude></div>
        </div>
    </script>
    <div class="spinner" ng-show="loadctrl.businfo||loadctrl.stationinfo||loadctrl.mapinfo">
        <div class="loader" ></div>
    </div>
    <div class="row clearfix" >
        <div class="col-md-4 column">
            <uib-accordion>
                <div uib-accordion-group class="panel-default" is-open="accordionstatus.openbusinfo" template-url="group-template.html">
                    <uib-accordion-heading>
                        <table class="table">
                            <tbody>
                                <td style="width:5% ; vertical-align: middle">
                                    <div class="label label-as-badge round-custom">
                                        <span>{a businfo.number a}</span>
                                    </div>
                                </td>
                                <td style="width:60%; vertical-align: middle">{a businfo.name a}</td>
                                <td style="width:35%; vertical-align: middle; font-size:12px; color: #008EE8">详细信息</td>
                                <td style="vertical-align: middle">
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-menu-down': accordionstatus.openbusinfo, 'glyphicon-menu-right': !accordionstatus.openbusinfo}">
                                    </i>
                                </td>
                            </tbody>
                        </table>
                    </uib-accordion-heading>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="width:30%;" class="text-right">车牌号：</td>
                                    <td style="width:70%;">{a businfo.license a}</td>
                                </tr>
                                <tr>
                                    <td style="width:30%;" class="text-right">车长：</td>
                                    <td style="width:70%;">{a businfo.cz_name a}<span> </span><span>{a businfo.cz_phone a}</span></td>
                                </tr>
                                <tr>
                                    <td style="width:30%;" class="text-right">司机：</td>
                                    <td style="width:70%;">{a businfo.sj_name a}<span> </span><span>{a businfo.sj_phone a}</span></td>
                                </tr>
                                <tr>
                                    <td style="width:30%;"class="text-right">车辆颜色：</td>
                                    <td style="width:70%;">{a businfo.color a}</td>
                                </tr>
                                <tr>
                                    <td style="width:30%;" class="text-right">座位数：</td>
                                    <td style="width:70%;">{a businfo.seat_num a}<span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-accordion>

            <div class="btn-group btn-group-justified">
                <label class="btn btn-info btn-custom radioBtnActive" ng-model="isDirToCompany"
                    uib-btn-radio="true">上行</label>
                <label class="btn btn-info btn-custom radioBtnActive" ng-model="isDirToCompany"
                    uib-btn-radio="false" >下行</label>
            </div>

            <table class="table">
                <tbody>
                    <tr ng-repeat="station in stations track by $index" ng-click="clickupdate()"
                        ng-init="hover=false" ng-mouseenter="hover=true"
                        ng-mouseleave="hover=false"   ng-class="{active: hover}">
                        <th style="width:5%">
                            <div ng-attr-id="{a station.attr3 a}" class="label label-as-badge pin-custom">
                                <span>{a station.char a}</span>
                            </div>
                        </th>
                        <td>
                            <p id="{a station.attr1 + 'font' a}"  class="text-muted">{a station.name a}</p>
                            <small id="{a station.attr2 + 'font' a}" class="text-muted">{a station.description a}</small>
                        </td>
                        <td align="right">
                            <p id="{a station.attr1 + 'font' a}" class="text-muted">{a station.locinfo a}</p>
                            <small id="{a station.attr2 + 'font' a}" class="text-muted">计划<span>{a station.time a}</span><span>到站</span></small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8 column">
            <button type="button" class="btn btn-primary btn-block" ng-disabled="true">地图上若有红点代表班车当前位置<span ng-if="businfo.number!='2'">:GPS</span></button>
            <baidu-map map-options="mapOptions" loaded="loadmap(map)"
                offline="offlineOpts" click="clicklatlon(e)">
            </baidu-map>
        </div>
    </div>
</div>
