
<div class="row clearfix">
    <div class="col-md-12 column">
        <h1 align="center">
            Honeywell
        </h1>
        <h3  align="center">
            THE POWER OF CONNECTED
        </h3>
    </div>
</div>


<div class="row clearfix" >
    <div class="col-xs-6 column" align="center">
        <div class="thumbnail">
            <a href="/#/busList"><img alt="200x200" src="static/images/btn_bus_82x82@2x.png" width="60%"/></a>
            <label class="text">班车实时信息</label>
        </div>
    </div>
    <div class="col-xs-6 column" align="center">
        <div class="thumbnail">
            <a href="16personalinfoforAdmin.html"><img alt="200x200" src="static/images/btn_my_account_82x82@2x.png" width="60%"/></a>
            <label class="text">个人信息</label>
        </div>
    </div>
    <div class="col-xs-6 column" align="center">
        <div class="thumbnail">
            <a href=""><img alt="200x200" src="static/images/btn_users_management_82x82@2x.png" width="60%"/></a>
            <label class="text">用户管理</label>
        </div>
    </div>
    <div class="col-xs-6 column" align="center">
        <div class="thumbnail">
            <a href="18_19dataanalysisTime.html"><img alt="200x200" src="static/images/btn_data_82x82@2x.png" width="60%"/></a>
            <label class="text">数据分析</label>
        </div>
    </div>
    <div class="col-xs-6 column" align="center">
        <div class="thumbnail">
            <a href=""><img alt="200x200" src="static/images/btn_suggestions_82x82@2x.png" width="60%"/></a>
            <label class="text">投诉建议</label>
        </div>
    </div>
    <div class="col-xs-6 column" align="center">
        <div class="thumbnail">
            <a href="/#/busListEdit"><img alt="200x200" src="static/images/btn_my_bus_82x82@2x.png" width="60%"/></a>
            <label class="text">班车管理</label>
        </div>
    </div>
</div>