<div class="container" id="smallfont">
    <div class="spinner" ng-show="loadctrl.businfo||loadctrl.stationinfo||loadctrl.mapinfo||loadctrl.submit">
        <div class="loader" ></div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <div class="row clearfix">
                <div class="panel panel-info">
                    <div class="panel-heading">住址</div>
                    <div class="panel-body table-responsive">
                        <div class="col-xs-8">
                            <input class="form-control input-xs" id="suggestId" type="text" />
                            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                        </div>
                        <button type="button" class="btn btn-primary col-xs-4" ng-click="recroute()" >推荐线路</button>
                   
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">上行</div>
                    <div class="panel-body table-responsive">
                        班车路线
                        <select ng-model="regbus.tocomp" ng-options="optbus as optbus.name for optbus in options.allbus"
                                ng-change="compbuschange(true)"></select>
                        站点
                        <select ng-model="regstation.tocomp" ng-options="optcpstation as optcpstation.name for optcpstation in options.tocompstations"></select>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">下行</div>
                    <div class="panel-body table-responsive">
                        班车路线
                        <select ng-model="regbus.tohome" ng-options="optbus as optbus.name for optbus in options.allbus"
                                ng-change="compbuschange(false)"></select>
                        站点
                        <select ng-model="regstation.tohome" ng-options="opthmstation as opthmstation.name for opthmstation in options.tohomestations"></select>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-8 column">
            <baidu-map map-options="mapOptions" loaded="loadmapedit(map)" 
                offline="offlineOpts" click="clicklatlon(e)">
            </baidu-map>
        </div>
    </div>
    
</div>