{% extends "bootstrap/base.html" %}

{% block title %}MobileBus{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mbus.css') }}"
{% endblock %}

{% block content %}
    {% raw %}
        <body ng-app="hwmobilebusApp" ng-controller="MainCtrl">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header pull-left">
                        <ul class="navbar-brand " ng-click="back()">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <ul class="nav pull-left">
                            <li class="navbar-text pull-left">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                        </ul>
                        <ul class="nav pull-left" id="{a mainctl.attr1 a}">
                            <li class="navbar-text pull-left" style="font-size: large;">{a mainctl.title a}</li>
                        </ul>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
        
                    <div class="navbar-collapse collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                        帐号 <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
    {% endraw %}
                                    <li><a href="{{ url_for('main.user', mailaddr=current_user.mailaddr) }}">个人资料</a></li>
    {% raw %}
                                    <li><a href="/auth/logout">切换帐号</a></li>
                                </ul>
                               
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
    {% endraw %}

            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}

    {% raw %}
            <div  ng-view="true"
                ng-class="pageClass"
                style="position: absolute">
            </div>
            
        </body>
    {% endraw %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="/static/lib/bower_components/angular/angular.js"></script>
    <script src="/static/lib/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/static/lib/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/static/lib/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/static/lib/bower_components/angular-route/angular-route.js"></script>
    <script src="/static/lib/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/lib/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/static/lib/bower_components/angular-baidu-map/dist/angular-baidu-map.min.js"></script>
    <script src="/static/lib/bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>    <!-- endbower -->

    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/controllers/currentlocation.js"></script>
    <script src="/static/scripts/services/businfo-service.js"></script>
    <script src="/static/scripts/services/map-service.js"></script>
    <script src="/static/scripts/services/interf-service.js"></script>
    <script src="/static/scripts/controllers/baidumap.js"></script>
    <script src="/static/scripts/controllers/modalopen.js"></script>
    <script src="/static/scripts/controllers/mapedit.js"></script>
    <script src="/static/scripts/controllers/busedit.js"></script>
    <script src="/static/scripts/controllers/buslist.js"></script>
    <script src="/static/scripts/controllers/suggestion.js"></script>
    <script src="/static/scripts/controllers/mybus.js"></script>
    <script src="/static/scripts/controllers/main.js"></script>
	

    {% if current_user.is_administrator() %}
        <script src="/static/scripts/directives/mbus-baidumap.js"></script>
        <script src="/static/scripts/directives/mbus-loading.js"></script>
        
        <script src="/static/scripts/controllers/broadcast.js"></script>
        <script src="/static/scripts/controllers/employmanage.js"></script>

        <script src="/static/scripts/services/dataA-service.js"></script>
        <script src="/static/scripts/controllers/processdemotime.js"></script>
        <script src="/static/scripts/controllers/stationAnalysis.js"></script>
    {% endif %}
{% endblock %}


    

    


